/exercicios/Exercicios012/nbproject/private/
/exercicios/Exercicios012/build/
/exercicios/Exercicio13/nbproject/private/
/exercicios/Exercicio13/build/
/exercicios/exercicio017/nbproject/private/
/exercicios/exercicio017/build/
/exercicios/exercicio018/nbproject/private/
/exercicios/exercicio018/build/
/exercicios/exercicio018/dist/
/exercicios/exercicio0001/nbproject/private/
/exercicios/exercicio0001/build/
/desafios/conversordemoeda/nbproject/private/
/desafios/conversordemoeda/build/
