/exercicios/Exercicios012/nbproject/private/
/exercicios/Exercicios012/build/
/exercicios/Exercicio13/nbproject/private/
/exercicios/Exercicio13/build/
/exercicios/exercicio017/nbproject/private/
/exercicios/exercicio017/build/
/exercicios/exercicio018/nbproject/private/
/exercicios/exercicio018/build/
/exercicios/exercicio018/dist/
/exercicios/exercicio0001/nbproject/private/
/exercicios/exercicio0001/build/
/desafios/conversordemoeda/nbproject/private/
/desafios/conversordemoeda/build/
/desafios/exercicio0002/nbproject/private/
/desafios/exercicio0003/nbproject/private/
/desafios/exercicio0003/build/
/exercicios/exercicio0003/build/
/exercicios/exercicio0003/nbproject/private/
/desafios/exercicio0004/nbproject/private/
/desafios/exercicio0004/build/
/desafios/exercicio0006/nbproject/private/
/exercicios/exercicio0005/build/
/exercicios/exercicio0003/dist/
/desafios/exercicio027/nbproject/private/
/desafios/exercicio027/build/
/desafios/exercicio028/nbproject/private/
/exercicios/exercicio029/nbproject/private/
/exercicios/exercicio034/nbproject/private/
/exercicios/exercicio034/build/
/exercicios/exercicio035/Interfaces/nbproject/private/
/exercicios/exercicio035/Interfaces/build/
/exercicios/exercicios036/nbproject/private/
